<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FloatingButtonWendysDD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FloatingButtonWendysDD.Properties.Settings>
            <setting name="DefaultFilePath" serializeAs="String">
                <value>C:\\kasa\\georgia.exe</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>georgia</value>
            </setting>
            <setting name="ButtonWidth" serializeAs="String">
                <value>230</value>
            </setting>
            <setting name="ButtonHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ButtonText" serializeAs="String">
                <value>სერვისის გადატვირთვა</value>
            </setting>
        </FloatingButtonWendysDD.Properties.Settings>
    </applicationSettings>
</configuration>